<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong> !!</h1>

      <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,<br>

      you can share and exchange your opinions , inpressions , and emotions<br>

      about various books!</p>

      <%= link_to "Log in", new_user_session_path, class: 'btn btn-block btn-sm bg-info justify-content-center rounded text-white mb-3' %>

      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-block btn-sm bg-success justify-content-center rounded text-white' %>

    </div>
  </div>
</div>


