<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong> !!</h1>

      <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,<br>

      you can share and exchange your opinions , inpressions , and emotions<br>

      about various books!</p>

      <button type="button" class="btn bg-info" "link-light">
        <%= link_to "Log in", new_user_session_path %>
      </button>

      <button type="button" class="btn bg-success" "link-light">
        <%= link_to "Sign up", new_user_registration_path %>
      </button>


    </div>
  </div>
</div>


